In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [2]:
## Load Files

In [3]:
### File loading from csvs
# file_path_city = "Data/location_data_clean.csv"
# file_path_life = "Data/life_expectancy_clean.csv"
# file_path_obesity = "Data/obesity_clean.csv"
# city_df = pd.read_csv(file_path_city)
# life_df = pd.read_csv(file_path_life)
# obesity_df = pd.read_csv(file_path_obesity)

In [ ]:
# File loading from SQL
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/FinalProject"
engine = create_engine(db_string)
city_df = pd.read_sql_table('TABLE_NAME', db_string)
target_df = pd.read_sql_table('TABLE_NAME', db_string)

In [4]:
city_df

,Walkability,Total Population,% 0 Vehicle HH,% 1 Vehicle HH,% 2+ Vehicle HH,% Low Wage Workers,Population Density,Employment Density,Pedestrian Network Density,Transit Frequency,Census Tract Number,State,County,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle
0,6.500000,2752,0.015253,0.284080,0.700667,0.214328,1.263157,0.086750,8.871270,-99999.000000,48339694201,Texas,Montgomery County,0,0,0,0
1,4.500000,2235,0.002841,0.028409,0.968750,0.181643,0.801518,0.100414,4.110425,-99999.000000,48339690202,Texas,Montgomery County,0,0,0,0
2,5.333333,1062,0.000000,0.542094,0.457906,0.171792,1.435295,0.071630,7.859713,-99999.000000,48339692001,Texas,Montgomery County,0,0,0,0
3,12.166667,1718,0.034188,0.343590,0.622222,0.196035,2.541886,0.904012,18.022772,-99999.000000,48421950200,Texas,Sherman County,0,0,0,0
4,14.833333,821,0.113861,0.247525,0.638614,0.236443,8.284813,1.402666,21.637878,21.506204,48439100400,Texas,Tarrant County,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9154,2.666667,902,0.000000,0.407407,0.592593,0.344633,1.502740,1.269498,5.107189,-99999.000000,55101980000,Wisconsin,Racine County,1,1,1,0
9155,11.000000,597,0.186186,0.342342,0.471471,0.276481,2.091573,5.665114,18.062401,-99999.000000,55109120100,Wisconsin,St. Croix County,0,0,0,0
9156,8.333333,1944,0.021352,0.377224,0.601423,0.254335,1.091856,0.535818,3.527429,-99999.000000,55109120901,Wisconsin,St. Croix County,0,0,0,0
9157,6.000000,2685,0.011952,0.191235,0.796813,0.216859,0.617627,0.160790,2.973199,-99999.000000,55133203803,Wisconsin,Waukesha County,0,0,0,0
9158,8.666667,1619,0.020725,0.243523,0.735751,0.244444,1.314282,0.726549,5.548519,-99999.000000,55133201800,Wisconsin,Waukesha County,0,0,0,0

In [5]:
target_df

       Census Tract Number    State           County  Life Expectancy
0                100120100  Alabama   Autauga County             73.1
1                100120200  Alabama   Autauga County             76.9
2                100120400  Alabama   Autauga County             75.4
3                100120500  Alabama   Autauga County             79.4
4                100120600  Alabama   Autauga County             73.1
...                    ...      ...              ...              ...
65193             56043200  Wyoming  Washakie County             80.1
65194             56043301  Wyoming  Washakie County             79.9
65195             56043302  Wyoming  Washakie County             81.8
65196          56045951100  Wyoming    Weston County             79.0
65197          56045951300  Wyoming    Weston County             78.6

[65198 rows x 4 columns]

In [7]:
# Merge city and obesity into one dataframe, ensuring all datapoints match
features_df = pd.merge(city_df, target_df, on = 'Census Tract Number')
features_df

,Walkability,Total Population,% 0 Vehicle HH,% 1 Vehicle HH,% 2+ Vehicle HH,% Low Wage Workers,Population Density,Employment Density,Pedestrian Network Density,Transit Frequency,Census Tract Number,State,County_x,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle,StateAbbr,County_y,Obesity
0,14.833333,821,0.113861,0.247525,0.638614,0.236443,8.284813,1.402666,21.637878,21.506204,48439100400,Texas,Tarrant County,0,1,0,0,TX,Fort Worth,42.9
1,13.166667,1048,0.000000,0.415842,0.584158,0.252907,10.586268,1.424298,13.318689,17.261274,48439105800,Texas,Tarrant County,0,1,0,0,TX,Fort Worth,40.7
2,14.666667,461,0.250000,0.226190,0.523810,0.199115,6.334020,1.964783,16.608250,52.760606,48439104400,Texas,Tarrant County,0,1,0,0,TX,Fort Worth,36.4
3,9.333333,1338,0.000000,0.054762,0.945238,0.222368,9.078248,1.160225,19.218476,-99999.000000,48439111544,Texas,Tarrant County,0,0,0,0,TX,Arlington,33.3
4,9.000000,941,0.062162,0.310811,0.627027,0.250000,6.514366,1.356871,13.860563,-99999.000000,48439102302,Texas,Tarrant County,1,1,1,0,TX,Fort Worth,37.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2191,13.833333,1169,0.011547,0.344111,0.644342,0.194257,3.587088,1.113869,7.923397,5.590615,55133202901,Wisconsin,Waukesha County,0,0,0,0,WI,Waukesha,27.5
2192,13.333333,1135,0.028283,0.365657,0.606061,0.210938,4.010525,1.438135,13.524364,14.314923,55133202400,Wisconsin,Waukesha County,0,0,0,0,WI,Waukesha,30.0
2193,7.500000,2215,0.016234,0.270563,0.713203,0.234266,2.856509,0.359804,7.499182,0.552989,55133202301,Wisconsin,Waukesha County,0,0,0,0,WI,Waukesha,31.4
2194,11.000000,746,0.026059,0.413681,0.560261,0.227545,5.112132,0.089085,10.775377,18.990268,55133202102,Wisconsin,Waukesha County,0,0,0,0,WI,Waukesha,29.8
2195,6.500000,1032,0.089588,0.377724,0.532688,0.229209,0.512340,2.773189,2.180369,0.414796,55133203000,Wisconsin,Waukesha County,1,1,1,1,WI,Waukesha,33.1

In [8]:
# Save obesity location data in separate dataframe
loc_df = pd.DataFrame(features_df[['State', 'County_x', 'Census Tract Number']])

In [11]:
## Obesity Model

In [12]:
# Create Obesity Features
## Removing % Low Income since it does not pertain to city structure
obesity_X = pd.get_dummies(features_df.drop(columns=['Life Expectancy', 'State', 'County_x', 'County_y', 'Census Tract Number', 'Obesity', 'StateAbbr', '% Low Wage Workers']))

# Create Obesity Target
obesity_y = features_df['Obesity']

# Saving feature names for later use
obesity_features_list = list(obesity_X.columns)
obesity_features = np.array(obesity_X)
obesity_X

,Walkability,Total Population,% 0 Vehicle HH,% 1 Vehicle HH,% 2+ Vehicle HH,Population Density,Employment Density,Pedestrian Network Density,Transit Frequency,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle
0,14.833333,821,0.113861,0.247525,0.638614,8.284813,1.402666,21.637878,21.506204,0,1,0,0
1,13.166667,1048,0.000000,0.415842,0.584158,10.586268,1.424298,13.318689,17.261274,0,1,0,0
2,14.666667,461,0.250000,0.226190,0.523810,6.334020,1.964783,16.608250,52.760606,0,1,0,0
3,9.333333,1338,0.000000,0.054762,0.945238,9.078248,1.160225,19.218476,-99999.000000,0,0,0,0
4,9.000000,941,0.062162,0.310811,0.627027,6.514366,1.356871,13.860563,-99999.000000,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2191,13.833333,1169,0.011547,0.344111,0.644342,3.587088,1.113869,7.923397,5.590615,0,0,0,0
2192,13.333333,1135,0.028283,0.365657,0.606061,4.010525,1.438135,13.524364,14.314923,0,0,0,0
2193,7.500000,2215,0.016234,0.270563,0.713203,2.856509,0.359804,7.499182,0.552989,0,0,0,0
2194,11.000000,746,0.026059,0.413681,0.560261,5.112132,0.089085,10.775377,18.990268,0,0,0,0
2195,6.500000,1032,0.089588,0.377724,0.532688,0.512340,2.773189,2.180369,0.414796,1,1,1,1

In [13]:
from sklearn.model_selection import train_test_split
obesity_X_train, obesity_X_test, obesity_y_train, obesity_y_test = train_test_split(obesity_X, obesity_y, random_state=1)

In [14]:
### Random Forest Regressor

In [15]:
# Resample the training data with the RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor
obesity_forest = RandomForestRegressor(n_estimators = 100, random_state=1)
obesity_forest

RandomForestRegressor(random_state=1)

In [16]:
# Calculate accuracy score
obesity_forest_model = obesity_forest.fit(obesity_X_train, obesity_y_train)
obesity_predictions = obesity_forest.predict(obesity_X_test)
obesity_errors = abs(obesity_predictions - obesity_y_test)
obesity_mape = 100 * (obesity_errors / obesity_y_test)
obesity_accuracy = 100 - np.mean(obesity_mape)
print('Accuracy:', round(obesity_accuracy, 2), '%.')

Accuracy: 88.52 %.

In [17]:
# List feature importance
obesity_importances = list(obesity_forest.feature_importances_)
obesity_feature_importances = [(feature, round(importance, 3)) for feature, importance in zip(obesity_features_list, obesity_importances)]
obesity_feature_importances = sorted(obesity_feature_importances, key = lambda x: x[1], reverse = True)
# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in obesity_feature_importances];

Variable: LILATracts_halfAnd10 Importance: 0.316
Variable: % 0 Vehicle HH       Importance: 0.225
Variable: Employment Density   Importance: 0.112
Variable: Total Population     Importance: 0.077
Variable: Transit Frequency    Importance: 0.056
Variable: Population Density   Importance: 0.048
Variable: Pedestrian Network Density Importance: 0.046
Variable: % 2+ Vehicle HH      Importance: 0.043
Variable: Walkability          Importance: 0.041
Variable: % 1 Vehicle HH       Importance: 0.032
Variable: LILATracts_Vehicle   Importance: 0.002
Variable: LILATracts_1And10    Importance: 0.001
Variable: LILATracts_1And20    Importance: 0.001

In [18]:
## Life Expectancy Model

In [19]:
# Create Life Expectancy Features
## Removing % Low Income since it does not pertain to city structure
life_X = pd.get_dummies(features_df.drop(columns=['Obesity', 'State_x', 'County_x', 'State_y', 'County_y', 'Census Tract Number', 'Life Expectancy', '% Low Wage Workers']))

# Create Life Expectancy Target
life_y = features_df['Life Expectancy']

# Saving feature names for later use
life_features_list = list(life_X.columns)
life_features = np.array(life_X)
life_X

,Walkability,Total Population,% 0 Vehicle HH,% 1 Vehicle HH,% 2+ Vehicle HH,Population Density,Employment Density,Pedestrian Network Density,Transit Frequency,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle
0,14.833333,821,0.113861,0.247525,0.638614,8.284813,1.402666,21.637878,21.506204,0,1,0,0
1,7.000000,2482,0.097847,0.277886,0.624266,9.649064,0.112741,22.145493,-99999.000000,0,0,0,0
2,7.500000,1182,0.000000,0.423767,0.576233,3.974740,2.185771,10.150515,-99999.000000,0,0,0,0
3,11.666667,793,0.000000,0.508834,0.491166,7.344075,0.416751,15.570199,-99999.000000,0,1,0,0
4,13.166667,1048,0.000000,0.415842,0.584158,10.586268,1.424298,13.318689,17.261274,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4361,8.000000,1986,0.000000,0.264126,0.735874,2.943929,0.294986,8.849851,-99999.000000,0,0,0,0
4362,11.000000,597,0.186186,0.342342,0.471471,2.091573,5.665114,18.062401,-99999.000000,0,0,0,0
4363,8.333333,1944,0.021352,0.377224,0.601423,1.091856,0.535818,3.527429,-99999.000000,0,0,0,0
4364,6.000000,2685,0.011952,0.191235,0.796813,0.617627,0.160790,2.973199,-99999.000000,0,0,0,0
4365,8.666667,1619,0.020725,0.243523,0.735751,1.314282,0.726549,5.548519,-99999.000000,0,0,0,0

In [20]:
from sklearn.model_selection import train_test_split
life_X_train, life_X_test, life_y_train, life_y_test = train_test_split(life_X, life_y, random_state=1)

In [21]:
### Random Forest Regressor

In [22]:
# Resample the training data with the RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor
life_forest = RandomForestRegressor(n_estimators = 100, random_state=1)
life_forest

RandomForestRegressor(random_state=1)

In [23]:
# Calculate accuracy score
life_forest_model = life_forest.fit(life_X_train, life_y_train)
life_predictions = life_forest.predict(life_X_test)
life_errors = abs(life_predictions - life_y_test)
life_mape = 100 * (life_errors / life_y_test)
life_accuracy = 100 - np.mean(life_mape)
print('Accuracy:', round(life_accuracy, 2), '%.')

Accuracy: 96.81 %.

In [24]:
# List feature importance
life_importances = list(life_forest.feature_importances_)
life_feature_importances = [(feature, round(importance, 3)) for feature, importance in zip(life_features_list, life_importances)]
life_feature_importances = sorted(life_feature_importances, key = lambda x: x[1], reverse = True)
# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in life_feature_importances];

Variable: % 0 Vehicle HH       Importance: 0.144
Variable: LILATracts_halfAnd10 Importance: 0.141
Variable: % 2+ Vehicle HH      Importance: 0.136
Variable: Population Density   Importance: 0.113
Variable: Total Population     Importance: 0.103
Variable: Employment Density   Importance: 0.085
Variable: Pedestrian Network Density Importance: 0.083
Variable: Walkability          Importance: 0.074
Variable: % 1 Vehicle HH       Importance: 0.068
Variable: LILATracts_Vehicle   Importance: 0.028
Variable: Transit Frequency    Importance: 0.021
Variable: LILATracts_1And10    Importance: 0.002
Variable: LILATracts_1And20    Importance: 0.002

In [25]:
## Saving Data for Visualization

In [26]:
# Constructing dataframe of actual and predicted values for obesity
obesity_actual_data = pd.DataFrame(features_df[['Obesity', '% 0 Vehicle HH', 'LILATracts_halfAnd10', 'Pedestrian Network Density', 'Walkability', 'Transit Frequency']])
obesity_predicted_data = pd.DataFrame(data = {'% 0 Vehicle HH': obesity_X_test['% 0 Vehicle HH'], 
                                           'LILATracts_halfAnd10': obesity_X_test['LILATracts_halfAnd10'],
                                           'Employment Density': obesity_X_test['Employment Density'],
                                           'Pedestrian Network Density': obesity_X_test['Pedestrian Network Density'], 
                                           'Walkability': obesity_X_test['Walkability'], 
                                           'Transit Frequency': obesity_X_test['Transit Frequency'], 
                                           'Rate of Obesity Predictions': obesity_predictions})

In [27]:
# Constructing dataframe of actual and predicted values for life expectancy
life_actual_data = pd.DataFrame(features_df[['Life Expectancy', '% 0 Vehicle HH', 'LILATracts_halfAnd10', 'Pedestrian Network Density', 'Walkability', 'Transit Frequency']])
life_predicted_data = pd.DataFrame(data = {'% 0 Vehicle HH': life_X_test['% 0 Vehicle HH'], 
                                           'LILATracts_halfAnd10': life_X_test['LILATracts_halfAnd10'],
                                           'Pedestrian Network Density': life_X_test['Pedestrian Network Density'], 
                                           'Walkability': life_X_test['Walkability'], 
                                           'Transit Frequency': life_X_test['Transit Frequency'], 
                                           'Life Expectancy Predictions': life_predictions})