In [1]:
import pandas as pd
import numpy as np
import re
from path import Path

In [2]:
# Read in files to clean
file_path_food = "Data/FoodAccessResearchAtlasData2019.csv"
file_path_life = "Data/U.S._Life_Expectancy_at_Birth_by_State_and_Census_Tract_-_2010-2015.csv"
file_path_fips = "Data/ZIP-COUNTY-FIPS_2011-06.csv"
file_path_EPA = "Data/EPA_SmartLocationDatabase_V3_Jan_2021_Final.csv"
file_path_obesity = "Data/500_Cities__Census_Tract-level_Data__GIS_Friendly_Format___2019_release.csv"
obesity_df = pd.read_csv(file_path_obesity)
food_df = pd.read_csv(file_path_food)
life_df = pd.read_csv(file_path_life)
fips_df = pd.read_csv(file_path_fips)
EPA_df = pd.read_csv(file_path_EPA)

In [3]:
# Get only the columns we need for food access
food_columns_df = food_df[["CensusTract", 'State', 'County', 'LILATracts_1And10', 'LILATracts_halfAnd10', 'LILATracts_1And20', 'LILATracts_Vehicle']]

In [4]:
# Get only the columns we need for life expectancy
life_columns_df = life_df[['Census Tract Number', 'State', 'County', 'Life Expectancy']]

In [5]:
# Get only the columns we need for public infrastructure
EPA_columns_df = EPA_df[['STATEFP', 'COUNTYFP', 'TRACTCE', 'NatWalkInd', 'CountHU', 'TotPop', 'Pct_AO0', 'Pct_AO1', 'Pct_AO2p', 'R_PCTLOWWAGE', 'D1A', 'D1B', 'D1C', 'D3APO', 'D4D']]

In [6]:
# Get only the columns we need for rate of obesity
obesity_columns_df = obesity_df[["StateAbbr", 'PlaceName', 'TractFIPS', 'OBESITY_CrudePrev']]

In [7]:
# Rename food columns
food_columns_df['Census Tract Number'] = food_columns_df['CensusTract'].astype(str)
food_clean_df = pd.DataFrame(food_columns_df[['Census Tract Number', 'State', 'County', 'LILATracts_1And10','LILATracts_halfAnd10', 'LILATracts_1And20', 'LILATracts_Vehicle']])
food_clean_df

C:\Users\rowen\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Census Tract Number,State,County,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle
0,1001020100,Alabama,Autauga County,0,0,0,0
1,1001020200,Alabama,Autauga County,1,1,1,0
2,1001020300,Alabama,Autauga County,0,0,0,0
3,1001020400,Alabama,Autauga County,0,0,0,0
4,1001020500,Alabama,Autauga County,0,0,0,0
...,...,...,...,...,...,...,...
72526,56043000200,Wyoming,Washakie County,0,0,0,0
72527,56043000301,Wyoming,Washakie County,0,0,0,0
72528,56043000302,Wyoming,Washakie County,0,0,0,0
72529,56045951100,Wyoming,Weston County,0,0,0,0
72530,56045951300,Wyoming,Weston County,0,0,0,0

In [8]:
#Formatting Census Tract Number and County in prep for dataframe merging
life_columns_df = life_columns_df.dropna()
life_columns_df['Census Tract Number'] = (life_columns_df['Census Tract Number']*100).astype(int)
life_columns_df['County'] = life_columns_df['County'].replace(to_replace=',.*', value ='', regex= True)
life_clean_df =life_columns_df
life_clean_df

       Census Tract Number    State           County  Life Expectancy
1                    20100  Alabama   Autauga County             73.1
2                    20200  Alabama   Autauga County             76.9
4                    20400  Alabama   Autauga County             75.4
5                    20500  Alabama   Autauga County             79.4
6                    20600  Alabama   Autauga County             73.1
...                    ...      ...              ...              ...
73116                  200  Wyoming  Washakie County             80.1
73117                  301  Wyoming  Washakie County             79.9
73118                  302  Wyoming  Washakie County             81.8
73119               951100  Wyoming    Weston County             79.0
73120               951300  Wyoming    Weston County             78.6

[67148 rows x 4 columns]

In [9]:
#Formatting FIPS in prep for merging
fips_columns_df = pd.DataFrame(fips_df[['COUNTYNAME', 'STCOUNTYFP']])
fips_columns_df.rename(columns = {'COUNTYNAME' : 'County'}, inplace = True)
fips_clean_df = fips_columns_df.drop_duplicates(subset = 'County')
fips_clean_df

                  County  STCOUNTYFP
0         Autauga County        1001
11        Baldwin County        1003
34        Barbour County        1005
42           Bibb County        1007
54         Blount County        1009
...                  ...         ...
46974  Yabucoa Municipio       72151
46975    Yauco Municipio       72153
46976   St. Croix Island       78010
46979    St. John Island       78020
46980  St. Thomas Island       78030

[1952 rows x 2 columns]

In [10]:
# Merge life expectancy data and FIPS data
joined_df = pd.merge(life_clean_df, fips_clean_df, on = 'County')

In [11]:
# Concatenate FIPS and Tract Number to for Census Tract Number
joined_df['Census'] = joined_df['STCOUNTYFP'].astype(str) + joined_df['Census Tract Number'].astype(str)

In [12]:
# Clean joined data
joined_drop_df = joined_df.drop_duplicates(subset='Census')
joined_clean_df = joined_drop_df.dropna()
joined_clean_df

,Census Tract Number,State,County,Life Expectancy,STCOUNTYFP,Census
0,20100,Alabama,Autauga County,73.1,1001,100120100
1,20200,Alabama,Autauga County,76.9,1001,100120200
2,20400,Alabama,Autauga County,75.4,1001,100120400
3,20500,Alabama,Autauga County,79.4,1001,100120500
4,20600,Alabama,Autauga County,73.1,1001,100120600
...,...,...,...,...,...,...
67123,200,Wyoming,Washakie County,80.1,56043,56043200
67124,301,Wyoming,Washakie County,79.9,56043,56043301
67125,302,Wyoming,Washakie County,81.8,56043,56043302
67126,951100,Wyoming,Weston County,79.0,56045,56045951100
67127,951300,Wyoming,Weston County,78.6,56045,56045951300

In [13]:
# Gather final life expectancy dataframe
life_expectancy_df = pd.DataFrame(joined_clean_df[['Census', 'State', 'County', 'Life Expectancy']])
life_expectancy_df.rename(columns={'Census':'Census Tract Number'}, inplace=True)
life_expectancy_df

      Census Tract Number    State           County  Life Expectancy
0               100120100  Alabama   Autauga County             73.1
1               100120200  Alabama   Autauga County             76.9
2               100120400  Alabama   Autauga County             75.4
3               100120500  Alabama   Autauga County             79.4
4               100120600  Alabama   Autauga County             73.1
...                   ...      ...              ...              ...
67123            56043200  Wyoming  Washakie County             80.1
67124            56043301  Wyoming  Washakie County             79.9
67125            56043302  Wyoming  Washakie County             81.8
67126         56045951100  Wyoming    Weston County             79.0
67127         56045951300  Wyoming    Weston County             78.6

[65198 rows x 4 columns]

In [24]:
# Check the datatypes of the obesity dataframe
obesity_columns_df.dtypes

StateAbbr               object
County                  object
Census Tract Number      int64
Obesity                float64
dtype: object

In [21]:
# Create a copy of the obesity dataframe
obesity_clean_df = obesity_columns_df

In [22]:
# Rename the columns to match other dataframes
obesity_clean_df.rename(columns = {'TractFIPS':'Census Tract Number', 'PlaceName':'County', 'OBESITY_CrudePrev':'Obesity'}, inplace = True)

C:\Users\rowen\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [23]:
# Check the rate of obesity dataframe
obesity_clean_df

      StateAbbr      County  Census Tract Number  Obesity
0            AL  Birmingham           1073000100     46.4
1            AL  Birmingham           1073000300     47.8
2            AL  Birmingham           1073000400     45.7
3            AL  Birmingham           1073000500     48.0
4            AL  Birmingham           1073000700     52.7
...         ...         ...                  ...      ...
27205        WY    Cheyenne          56021001000     31.7
27206        WY    Cheyenne          56021001200     25.4
27207        WY    Cheyenne          56021001501     27.7
27208        WY    Cheyenne          56021001502     30.9
27209        WY    Cheyenne          56021002000     27.2

[27210 rows x 4 columns]

In [14]:
# Rename EPA columns
epa_renamed_df = EPA_columns_df.rename(
    columns={'STATEFP': 'State FIPS',
             'COUNTYFP': 'County FIPS',
            'TRACTCE': 'Tract Number',
            'NatWalkInd': 'Walkability',
            'CountHU': 'Number of Households',
            'TotPop': 'Total Population',
            'Pct_AO0': '% 0 Vehicle HH',
            'Pct_AO1': '% 1 Vehicle HH',
            'Pct_AO2p': '% 2+ Vehicle HH',
            'R_PCTLOWWAGE': '% Low Wage Workers',
            'D1A': 'Residential Density',
            'D1B': 'Population Density',
            'D1C': 'Employment Density',
            'D3APO': 'Pedestrian Network Density',
            'D4D': 'Transit Frequency'})

In [15]:
# Check for missing values
epa_renamed_df.isnull().sum()

State FIPS                      0
County FIPS                     0
Tract Number                    0
Walkability                     0
Number of Households          275
Total Population                0
% 0 Vehicle HH                  0
% 1 Vehicle HH                  0
% 2+ Vehicle HH                 0
% Low Wage Workers              0
Residential Density           271
Population Density              0
Employment Density              0
Pedestrian Network Density      0
Transit Frequency               1
dtype: int64

In [16]:
# Drop two columns with significant null values
epa_renamed_df.drop(['Number of Households', 'Residential Density'], axis=1, inplace=True)

epa_renamed_df.isnull().sum()

State FIPS                    0
County FIPS                   0
Tract Number                  0
Walkability                   0
Total Population              0
% 0 Vehicle HH                0
% 1 Vehicle HH                0
% 2+ Vehicle HH               0
% Low Wage Workers            0
Population Density            0
Employment Density            0
Pedestrian Network Density    0
Transit Frequency             1
dtype: int64

In [17]:
# Drop null rows
epa_null_df = pd.DataFrame(epa_renamed_df.dropna(how='any'))

In [18]:
# Concatenate State FIPS, County FIPS, and Tract Number into Census Tract Number and then drop them
epa_null_df['Census Tract Number'] = epa_null_df['State FIPS'].astype(str) + epa_null_df['County FIPS'].astype(str) + epa_null_df['Tract Number'].astype(str)
epa_census_df = epa_null_df.drop(columns=['State FIPS', 'County FIPS', 'Tract Number'])

In [19]:
# Drop duplicates
epa_clean_df = epa_census_df.drop_duplicates(subset = 'Census Tract Number')

In [20]:
# Merge food and EPA data
location_cleaned_df = pd.merge(epa_clean_df, food_clean_df, on = 'Census Tract Number')

In [24]:
# Export cleaned dataframes to csvs
life_expectancy_df.to_csv('Data/life_expectancy_clean.csv', index = False)
location_cleaned_df.to_csv('Data/location_data_clean.csv', index = False)

In [ ]:
# Export location dataframe to SQL
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/FinalProject"
engine = create_engine(db_string)
location_cleaned_df.to_sql(name='location_data', con=engine)

In [ ]:
# Export life expectancy dataframe to SQL
life_expectancy_df.to_sql(name='life_expectancy', con=engine)

In [ ]:
# Export obesity dataframe to SQL
obesity_df.to_sql(name='obesity_data', con=engine)