In [6]:
import pandas as pd
import numpy as np
import re
from path import Path
from sqlalchemy import create_engine
import psycopg2
from config import db_password

In [2]:
file_path_obesity = "Data/obesity_clean.csv"
obesity_df = pd.read_csv(file_path_obesity)

In [4]:
obesity_df.set_index(['Census Tract Number'], inplace=True)
obesity_df

                    StateAbbr      County  Obesity
Census Tract Number
1073000100                 AL  Birmingham     46.4
1073000300                 AL  Birmingham     47.8
1073000400                 AL  Birmingham     45.7
1073000500                 AL  Birmingham     48.0
1073000700                 AL  Birmingham     52.7
...                       ...         ...      ...
56021001000                WY    Cheyenne     31.7
56021001200                WY    Cheyenne     25.4
56021001501                WY    Cheyenne     27.7
56021001502                WY    Cheyenne     30.9
56021002000                WY    Cheyenne     27.2

[27210 rows x 3 columns]

In [5]:
# Export cleaned dataframe to csvs
obesity_df.to_csv('Data/obesity_clean_2.csv', index = True)

In [7]:
# Export obesity dataframe to SQL
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/FinalProject"
engine = create_engine(db_string)
obesity_df.to_sql(name='obesity_data', con=engine)